<form #personForm="ngForm" class="editForm" novalidate>
  <div class="tab-pane fade in active">
    <h4 class="head text-center"> DADOS PESSOAIS </h4>
    <br />
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
        <div class='col-xs-12 col-sm-8'>
          <div class="form-group">
            <label class="control-label" for="street">Nome Completo</label>
            <input class="form-control input-md" #street="ngModel" required id="name" name="name" type="text"
              placeholder="Nome Completo" [(ngModel)]="person.name">
          </div>
        </div>
        <div class='col-xs-12 col-sm-4'>
          <div class="form-group">
            <label class="control-label" for="street">CPF</label>
            <input class="form-control input-md" #street="ngModel" required id="cpf" name="cpf" type="text" placeholder="CPF"
              [(ngModel)]="person.cpf" mask="000.000.000-00" minlength="11">
            <!-- <div class="alert alert-danger" [hidden]="street.valid">O CPF é obrigatório.</div> -->
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
        <div class='col-xs-12 col-sm-8'>
          <div class="form-group">
            <label class="control-label" for="street">Email</label>
            <input class="form-control input-md" #street="ngModel" required id="email" name="email" type="email"
              placeholder="Email" [(ngModel)]="person.email">
            <!-- <div class="alert alert-danger" [hidden]="street.valid">O email completo é obrigatório.</div> -->
          </div>
        </div>
        <div class='col-xs-12 col-sm-4'>
          <div class="form-group">
            <label class="control-label" for="street">Data de Nascimento</label>
            <input class="form-control input-md" #street="ngModel" required id="birthday" name="birthday" type="text" placeholder="dd/mm/aaaa"
              [(ngModel)]="person.birthday" minlength="8" mask="00/00/0000">
            <!-- <div class="alert alert-danger" [hidden]="street.valid">A data de nascimento é obrigatória.</div> -->
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
        <div class='col-xs-12 col-sm-6'>
          <div class="form-group">
            <label class="control-label" for="street">RG</label>
            <input class="form-control input-md" #street="ngModel" required id="rg" name="rg" type="email"
              placeholder="RG" [(ngModel)]="person.rg">
            <!-- <div class="alert alert-danger" [hidden]="street.valid">O RG é obrigatório.</div> -->
          </div>
        </div>
        <div class='col-xs-12 col-sm-3'>
          <div class="form-group">
            <label class="control-label" for="street">Órgão expedidor</label>
            <input class="form-control input-md" #street="ngModel" required id="expe" name="expe" type="text" placeholder="Expedidor"
              [(ngModel)]="person.expe">
            <!-- <div class="alert alert-danger" [hidden]="street.valid">O órgão expedidor é obrigatório.</div> -->
          </div>
        </div>
        <div class='col-xs-12 col-sm-3'>
          <div class="form-group">
            <label class="control-label" for="street">UF expedição</label>
            <input class="form-control input-md" #street="ngModel" required id="uf" name="uf" type="text" placeholder="UF"
              [(ngModel)]="person.uf">
            <!-- <div class="alert alert-danger" [hidden]="street.valid">A UF de expedição é obrigatória.</div> -->
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
        <div class='col-xs-12 col-sm-6'>
          <div class="form-group">
            <label class="control-label" for="street">Nacionalidade</label>
            <input class="form-control input-md" #street="ngModel" required id="nasc" name="nasc" type="email"
              placeholder="Nascionalidade" [(ngModel)]="person.nasc">
            <!-- <div class="alert alert-danger" [hidden]="street.valid">A nascionalidade é obrigatória.</div> -->
          </div>
        </div>
        <div class='col-xs-12 col-sm-3'>
          <div class="form-group">
            <label class="control-label" for="street">Celular para contato</label>
            <input class="form-control input-md" #street="ngModel" required id="phone" name="phone" type="text" placeholder="(00) 00000-0000"
              [(ngModel)]="person.phone" minlength="11" mask="(00) 00000-0000">
            <!-- <div class="alert alert-danger" [hidden]="street.valid">O celular para contato é obrigatório.</div> -->
          </div>
        </div>
        <div class='col-xs-12 col-sm-3'>
            <div class="form-group">
              <label class="control-label" for="street">Telefone para contato</label>
              <input class="form-control input-md" #street="ngModel" required id="phone_2" name="phone_2" type="text" placeholder="(00) 0000-0000"
                [(ngModel)]="person.phone_2" minlength="11" mask="(00) 00000-0000">
              <!-- <div class="alert alert-danger" [hidden]="street.valid">O telefone para contato é obrigatório.</div> -->
            </div>
          </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
        <div class='col-xs-12 col-sm-12'>
          <div class="form-group">
            <label class="control-label" for="street">Nome completo da Mãe</label>
            <input class="form-control input-md" #street="ngModel" required id="mother" name="mother" type="text"
              placeholder="Nome completo da Mãe" [(ngModel)]="person.mother">
            <!-- <div class="alert alert-danger" [hidden]="street.valid">A nascionalidade é obrigatória.</div> -->
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class="form-group text-center">
        <button class="btn btn-outline-rounded btn-success" [disabled]="!personForm.valid" (click)="goToNext(personForm)">
          Continuar <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
    </div>

  </div>
</form>
