<form #pamentForm="ngForm" class="editForm" novalidate [hidden]="end">
  <div class="tab-pane fade in active">
    <h4 class="head text-center">{{title}}</h4>
    <br />
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
        <div class="row box-radio">
          <div class="form-group ">
            <div class="radio radio-payment">
              <div class='col-xs-4 col-sm-4'>
                <label>
                  <img src="assets/images/online.jpg">
                  <div class="radio-button">
                      <input type="radio" name="radio" checked required name="typePayment" [(ngModel)]="typePayment" value="online">
                      <span> Conta Online </span>
                  </div>
                </label>
              </div>
              <div class='col-xs-4 col-sm-4'>
                <label>
                  <img src="assets/images/debito.jpg">
                  <div class="radio-button">
                    <input type="radio" required name="typePayment" [(ngModel)]="typePayment" value="debito">
                    <span> Débito em Conta </span>
                  </div>
                </label>
              </div>
              <div class='col-xs-4 col-sm-4'>
                <label>
                  <img src="assets/images/bill.jpg">
                  <div class="radio-button">
                    <input type="radio" required name="typePayment" [(ngModel)]="typePayment" value="boleto">
                    <span> Boleto Bancário </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="box-debito" *ngIf="typePayment === 'debito'">
          <div class="row">
            <div class='col-xs-12 col-sm-8'>
              <div class="form-group">
                <label class="control-label">Nome Completo</label>
                <input class="form-control input-md" required id="name" name="name" type="text" [(ngModel)]="payment.name"
                  placeholder="NOME COMPLETO">
              </div>
            </div>
            <div class='col-xs-12 col-sm-4'>
              <div class="form-group">
                <label class="control-label">CPF</label>
                <input class="form-control input-md" required id="cpf" name="cpf" type="text" [(ngModel)]="payment.cpf"
                  placeholder="XXX.XXX.XXX-XX" [cpf]="payment.cpf" mask="000.000.000-00" minlength="11">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label class="control-label">Banco</label>
                <select class="form-control input-md" required id="bank" name="bank" type="text" [(ngModel)]="payment.bank">
                  <option *ngFor="let bank of banks" value="{{ bank.type }}"> {{ bank.name }} </option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="form-group">
                <label class="control-label">Agência</label>
                <input class="form-control input-md" required id="agency" name="agency" type="text" minlength="5"
                  [(ngModel)]="payment.agency" mask="0000-0" placeholder="XXXX-X">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label class="control-label">Conta</label>
                <input class="form-control input-md" required id="account" name="account" type="text" minlength="5"
                  [(ngModel)]="payment.account" mask="0000000-0" placeholder="XXXXXXX-X">
                <!-- <div class="alert alert-danger" [hidden]="!(location.phone.invalid  && (location.phone.dirty || location.phone.touched))">Selecione uma cidade.</div> -->
              </div>
            </div>
          </div>
        </div>

        <div class="box-account" *ngIf="typePayment === 'online'">
          <img src="assets/images/i.jpg">
          Você Receberá o boleto de mensalidade no e-mail cadastrado.
        </div>

        <div class="box-bill" *ngIf="typePayment === 'boleto'">
          <img src="assets/images/i.jpg">

          Você Receberá o boleto de mensalidade no endereço cadastrado.
        </div>

        <div class='row'>
          <div class='col-xs-12 col-sm-12'>
            <div class="form-group">
              <label class="control-label">Selecione a data de vencimento da fatura</label>
              <select class="form-control input-md" required id="dateEnd" name="dateEnd" type="text" [(ngModel)]="dateEnd">
                <option value="07"> 07 </option>
                <option value="10"> 10 </option>
                <option value="12"> 12 </option>
                <option value="15"> 15 </option>
                <option value="20"> 20 </option>
                <option value="25"> 25 </option>
              </select>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 col-sm-12'>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" required name="terms" value="false" [(ngModel)]="terms">
                  <strong> Li e concordo com o Contrato de Permanência TIM Live, Instrumento de Comodato TIM Live e
                    autorizo a TIM entrar em contato comigo nos telefones informados.</strong>
                </label>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group text-center">
          <button class="btn btn-success btn-outline-rounded" [disabled]="!pamentForm.valid || !typePayment || !terms" (click)="goToNext(pamentForm)">
            Finalizar <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="tab-pane fade in active" [hidden]="!end">
    <h3 class="head text-center"> Obrigado pela preferência! </h3>
    <h4 class="text-center">
        Olá {{ person.name }},
    </h4>
    <p class="narrow text-center">
        Em breve nossos atendentes vão entrar em contato com você.
    </p>
    <br />
    <br />
    <br />
</div>
