<form #planForm="ngForm" class="editForm" novalidate>
  <div class="form-horizontal">
    <div class="tab-pane fade in active">
      <h4 class="head text-center">{{title}}</h4>
      <div class='row' *ngIf="flagFibra" style="padding-bottom: 20px;">
        <h4 class="head text-center"> PLANOS TIM FIBRA </h4>

        <!-- You can now use your library component in app.component.html -->
        <ngx-slick class="carousel col-xs-12 col-sm-offset-2 col-sm-8" #slickModal="slick-modal" [config]="slideConfig">
          <div ngxSlickItem class="plan-box" *ngFor="let item of plans?.fibra">
            <div class="box-header">
              <span class="title"> <b>{{ item.franquia }}</b>{{ item.franquia_desc }} </span>
              <span class="description"> DE VELOCIDADE </span>
            </div>
            <div class="box-benefits">
              <span class="title"> Voz fixo ilimitada Brasil </span>
              <span class="channels"> {{ item.canais }} </span>
              <span class="tv-partners"> Parceiros de vídeo </span>
              <div class="tv-partners-img">
                <img *ngFor="let img of item.imagens" src="{{ img }}">
              </div>
            </div>
            <div class="box-body">
              <span *ngIf="item.promocao.flag" class="promotion"> <label>de R$ {{ item.promocao.valor }}</label> por
              </span>
              <span class="value">
                <label class="type">R$</label>
                <label class="price">{{ item.valor }}</label>
                <label class="cents">,{{ item.centavos }}</label>
                <label class="month">/MÊS</label> </span>
              <span *ngIf="item.promocao.flag" class="validate"> {{ item.promocao.validate }} </span>
              <span class="tax"> Taxa de Habilitação: {{ item.taxa }} </span>
              <button (click)="goToNext(item)"> Selecionar <br /> Plano </button>
              <span class="download"> Velocidade de Download: {{ item.download }} </span>
              <span class="upload"> Velocidade de upload: {{ item.upload }} </span>
            </div>
            <!-- <div class="box-footer">
                <span class="title"> Mais Beneficios </span>
              </div> -->
          </div>
        </ngx-slick>
      </div>
      <div class='row' *ngIf="flag4G" style="padding-bottom: 20px;">
        <h4 class="head text-center"> PLANOS TIM 4G </h4>
        <ngx-slick class="carousel col-xs-12 col-sm-offset-2 col-sm-8" #slickModal="slick-modal" [config]="slideConfig">
          <div ngxSlickItem class="plan-box" *ngFor="let item of plans?.fourG">
            <div class="box-header">
              <span class="title"> <b>{{ item.franquia }}</b>{{ item.franquia_desc }} </span>
            </div>
            <div class="box-benefits">
              <span class="title"> Velocidade de Download: {{ item.download }} </span>
              <span class="title"> Velocidade de upload: {{ item.upload }} </span>
              <span class="title" style="padding-bottom: 20px;"> Franquia: {{ item.franquia }} {{ item.franquia_desc }} </span>
              <span class="channels"> MODEM EM COMODADATO </span>
              <div class="tv-partners-img" >
                <img style="width: 100px;" src="https://timpromocao.com.br/wp-content/uploads/2019/01/tim-protect-modal.png">
                <img style="width: 100px;" src="https://timpromocao.com.br/wp-content/uploads/2019/01/plugueenavegue.png">
              </div>
            </div>
            <div class="box-body">
              <span *ngIf="item.promocao.flag" class="promotion"> <label>de R$ {{ item.promocao.valor }}</label> por
              </span>
              <span class="value">
                <label class="type">R$</label>
                <label class="price">{{ item.valor }}</label>
                <label class="cents">,{{ item.centavos }}</label>
                <label class="month">/MÊS</label>
              </span>
              <!-- <span *ngIf="item.promocao.flag" class="validate"> {{ item.promocao.validade }} </span> -->
              <span class="tax"> {{ item.taxa }} </span>
              <button (click)="goToNext(item)"> Selecionar <br /> Plano </button>
            </div>
            <!-- <div class="box-footer">
                <span class="title"> Mais Beneficios </span>
              </div> -->
          </div>
        </ngx-slick>

      </div>

    </div>
  </div>
</form>
